*{
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: '85w-heavy1'; 
	src: url(../fonts/85w-heavy1.ttf); 
}

ul{
	list-style-type: none;
}

body{
	background-image: url("../img/Raidenwallpaper.jpeg");
    background-size:cover;
}

.logo{
    width: 11.1%;
}
.logo img{
   width: 100%;
   height: 100%;
}

.header{
	display: flex;
	height:100px;
	width: 100%;
	background: #BEA8CB;	
}
.header_buts{
    width: 12%;
    padding-left: 6%;
    display:flex;
    align-items: center;
    margin-left:2.5%;
	cursor: pointer;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.header_buts a{
    text-decoration: none;
	font-size: 25px;
	color: white;
	font-family: '85w-heavy1';
}
.profile{
    height:100%;
    width:100%;
    display:flex;
    justify-content: flex-end;
}
.profile_nick{
    display:flex;
    align-items: center;
    margin-right: 2.5%;
}
.profile_nick p{
    font-size: 25px;
	color: white;
	font-family: '85w-heavy1';
	font-weight: 400;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.profile_img{
    width: 11.1%
}
.profile_img img{
    width:100%;
    height:100%;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.maintxt{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    margin-top: 2%;
}
.maintxt img{
    width: 25%;
    height:  25%;
}

.description{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.aboutforum{
    width: 40%;
    backdrop-filter: blur(2px);
    padding-top: 1%;
}

.aboutforum p{
    color:white;
    font-family: '85w-heavy1';
    text-align: center;
    font-size: 20px;
    -webkit-text-stroke: #517194;
    text-shadow: 1px 1px 2px black;
}
.sliderblock{
    width: 50%;
    display: block;
    margin: 0 auto;
}