{% extends 'genshinapp/index.html' %}
{% load static%}

{% block title %} {% for i in themes %} {{i.themename}} {% endfor %} {% endblock title %}

{% block container %}
<div class="containertheme1">
    <div class="theme1">
        {% for i in themes%}
        <p>{{i.themename|safe}}</p>
        {% endfor %}
    </div>
    <div class="theme2">
        {% for s in themes%}
        {{s.themecontent|safe}}
        <img src="/static/img/{{s.themeimg}}" alt="">
        {% endfor %}
    </div>
</div>
{% endblock container %}
{% block container1 %}{% endblock container1 %}