{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css'%}">
	<link rel="stylesheet" href="{% static 'js/bxslider/dist/jquery.bxslider.css'%}">
	<title>Форум по игре Genshin Impact | Главная страница</title>
	<script src="https://cdn.ckeditor.com/4.15.1/standard/ckeditor.js"></script>
</head>
<body>
	<div class="header">
		<div class="logo">
		<a href="{% url 'main' %}"><img src="{%static 'img/loho.png'%}" alt=""></a>
	</div>
		<div class="header_buts">
			<ul>
				<li>
					<p> <a href="{% url 'main' %}">ГЛАВНАЯ</a></p>
				</li>
			</ul>
		</div>
		<div class="header_buts">
			<ul>
				<li>
			<p> <a href="{% url 'themes' %}">ТЕМЫ</a></p>
				</li>
			</ul>
		</div>
		<div class="header_buts">
			<ul>
				<li>
			<p> <a href="{% url 'reg' %}">РЕГИСТРАЦИЯ</a></p>
				</li>
			</ul>
		</div>
		<div class="profile">
			<div class="profile_nick">
				<p>ПСЕВДОНИМ</p>
			</div>
			<div class="profile_img">
				<img src="{% static 'img/Pimon.png' %}" alt="Аватар пользователя">
			</div>
		</div>
	</div>
    <div class="containerthemes">
		<div class="cancelthemeblock" id="cancelthemeblock">
			<img src="{% static 'img/krest.png' %}" alt="">
		</div>
		<div class="themebut" id="open">
			<a class="myButton" href="#">Создать тему</a>
		</div>
			<div class="themeblock" id="themeblock">
				<form action="" method="post">
					{% csrf_token %}
					<label for="themename" id="themename">Название темы:</label>
					<input type="text" name="themename" placeholder="Название вашей темы">
					<label for="themecontent">Содержание:</label>
					<textarea name="themecontent" id="themecontent" cols="30" rows="10">
					</textarea>
					<br>
    			<button class="button" onclick="sendText()">Submit text</button>
				</form>
			</div>
				<div class="themebox">
					{% for i in themes%}
					<div class="themeсont">
						<a href="{% url 'insidetheme' i.pk %}">{{i.themename}}</a>
					</div>
					{% endfor %}
				</div>
			</div>
			<script src="{% static 'js/script.js' %}"></script>	
	</body>
</html>